@model AboutViewModel

<h class="textLight appHeading" id="aboutHeader">About</h>
<div class="infoContainerLight">
    <img src="@Model.ImageUrls[0]" class="aboutImage" />
    <p class="textLight">@Model.Description</p>
</div>