@model PortfolioViewModel

@if(!string.IsNullOrEmpty(ViewData["TryCatchError"]?.ToString()))
{
    <div class="alert alert-danger">
        @ViewData["TryCatchError"]?.ToString()
    </div>
}
else
{
    @foreach(var project in Model.Projects)
    {
        <div class="projectContainer projectContainerLight">
            <p class="textLight">@project.Title</p>
        </div>
    }
}