@model WorkAndEducationViewModel

@if(!string.IsNullOrEmpty(ViewData["TryCatchError"]?.ToString()))
{
    <div class="alert alert-danger">
        @ViewData["TryCatchError"]?.ToString()
    </div>
}
else
{
    <div id="organisationList" class="appSelectList appSelectListLight">
        <div class="appSelectListHeader appSelectListHeaderLight">
            <span>Work & Education History</span>
        </div>
        <div id="appSelectListContainer">
        @{ int i = 0; }
        @foreach(var organisation in Model.CompaniesAndSchools)
        {
            <div class="textLight appSelectListItem appSelectListItemLight" onclick="selectOrganisation(@i)">@organisation.Name</div>
            i += 1;
        }
        </div>
    </div>

    <div id="selectListContent">
        <div id="showOrgListMobileButton" class="aaButtonLight" onclick="showOrganisationListMobile()">List</div>
    @foreach(var organisation in Model.CompaniesAndSchools)
    {
        <partial name="_SelectedOrganisation" model="@organisation" />
    }
    </div>
}