body
{
  font-family: sans-serif;
}

@media only screen and (min-width: 1000px)
{
  .allContent
  {
      position: relative;
      width: 80%;
      max-width: 1440px;
      min-width: 970px;
      margin: auto;
      padding: 5px
  }
}
@media only screen and (max-width: 999px)
{
  .allContent
  {
      position: relative;
      width: 100%;
      margin: auto;
      padding: 5px
  }
}

.appBackgroundLight
{
  background-color: #f1f1f1;
}
.appBackgroundDark
{
  background-color: #000;
}
.appHeading
{
  font-weight: bold
}

.textLight
{
  color: black
}
.textDark
{
  color: white
}

@media only screen and (min-width: 1000px)
{
  #menuBarContainer
  {
    padding: 2px;
    height: 50px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    top: 0px;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  #menuBarContainerMobile
  {
    display: none
  }
}
@media only screen and (max-width: 999px)
{
  #menuBarContainer
  {
    display: none
  }
  #menuBarContainerMobile
  {
    display: block;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 44px;
    z-index: 3;
  }
}
.menuBarContainerLight
{
  background: #fff;
  border-bottom: 1px solid lightgray;
}
.menuBarContainerDark
{
  background: #434343;
  border-bottom: 1px solid rgb(111,111,111);
}

.menuBarContainerMobileLight
{
  background: #fff;
  border-top: 1px solid lightgray
}
.menuBarContainerMobileDark
{
  background: #434343;
  border-top: 1px solid rgb(111,111,111);
}

.menuItem
{
  height: 100%;
  box-sizing: border-box;
  border-radius: 0px;
  border-right: 1px solid;
  border-image: linear-gradient(#8f8f8f00 15%, #8f8f8f 15%, #8f8f8f 85%, #8f8f8f00 85%) 0 100%;
}
.firstMenuItem
{
  border-left: 1px solid;
}
.menuItemValueLight
{
  box-sizing: border-box;
  height: 100%;
  position: relative;
  color: #000;
  padding: 11px 27px 11px 27px
}
.menuItemValueDark
{
  box-sizing: border-box;
  height: 100%;
  position: relative;
  color: #fff;
  padding: 11px 27px 11px 27px
}
.menuItemText
{
  display: inline-block;
  text-decoration: none
}




.infoContainerLight
{
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #c2c2c2;
  color: #000;
  padding: 5px
}
.infoContainerDark
{
  position: relative;
  background-color: #434343;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgb(111,111,111);
  color: #fff;
  padding: 5px
}

#bioTextContainer
{
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: auto;
  margin-top: 5px;
  padding: 10px
}
#bioText > p:last-child
{
  margin: 0
}
@media only screen and (min-width: 1000px)
{
  #bioText
  {
    column-count: 2;
    text-align: justify;
    column-gap: 2em;
  }
}
@media only screen and (max-width: 999px)
{
  #bioText
  {
    column-count: 1;
    text-align: justify;
    column-gap: 2em;
  }
}

.firstRow
{
  border-top: 0px !important
}

.twoColumnRowLight
{
  border-top: 1px solid lightgray;
  padding: 4px;
  font-size: 12pt;
  color: #000;
  display: block;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
}
.twoColumnRowDark
{
  border-top: 1px solid rgb(111,111,111);
  padding: 4px;
  font-size: 12pt;
  color: #fff;
  display: block;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
}
.twoColumnRowCol1
{
  display: block;
}
.twoColumnRowCol2
{
  display: block;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (min-width: 1000px)
{
  #profileImageAndContactTextContainer
  {
    position: relative;
    width: 600px;
    margin: auto
  }
}
@media only screen and (max-width: 999px)
{
  #profileImageAndContactTextContainer
  {
    position: relative;
    width: 100%;
    padding: 0px;
    padding-top: 5px
  }
}

@media only screen and (min-width: 1000px)
{
  #profileImage
  {
    width: 35%;
  }
}
@media only screen and (max-width: 999px)
{
  #profileImage
  {
    position: relative;
    width: 45%;
    margin: auto;
    display: block;
  }
}

@media only screen and (min-width: 1000px)
{
  #contactTable
  {
    width: 65%;
    display: block;
    top: 5px;
    position: absolute;
    left: calc(35% + 1px)
  }
}
@media only screen and (max-width: 999px)
{
  #contactTable
  {
    width: 100%
  }
}

.aaButtonLight
{
  background: linear-gradient(#ececec,#9e9e9e);
  color: #000;
  padding: 4px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
  font-size: 12pt;
  border: 1px solid #9e9e9e;
  box-shadow: 0 1px #fff inset,0 1px #fff inset;
}
.aaButtonDark
{
  background: linear-gradient(#717171,#000);
  color: #fff;
  padding: 4px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
  font-size: 12pt;
  border: 1px solid #000;
  box-shadow: 0 1px #b7b7b7 inset,0 1px #b7b7b7 inset;
}

#menuBarMobileCurrentPageText
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18pt;
  font-weight: bold;
  width: max-content;
}
#menuBarMobileShowPopoutButton
{
  width: 44px;
  height: 26px;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.menuIconLine
{
  position: relative;
  height: 3px;
  width: 30px;
  left: 50%;
  transform: translate(-50%);
  top: 1px;
  margin-top: 3px;
}
.menuIconLineLight
{
  background: #000
}
.menuIconLineDark
{
  background: #fff
}
.firstMenuLine
{
  margin-top: 0 !important;
}

.showMenuBarMobilePopout
{
  opacity: 100 !important;
  visibility: visible !important;
  bottom: 49px !important
}

@media only screen and (max-width: 999px)
{
  #menuBarMobilePopout
  {
    display: block;
    opacity: 0;
    bottom: -142px;
    visibility: hidden;
    transition: visibility .3s ease-out,opacity .3s ease-out,bottom .3s ease-out;
    position: fixed;
    width: calc(100% - 10px);
    left: 5px;
    padding: 8px;
    padding-bottom: 0px;
    padding-top: 0px;
    z-index: 2;
  }
  #menuBarMobilePopoutBackground
  {
    position: fixed;
    display: block;
    background-color: #00000080;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: visibility .3s ease-out,opacity .3s ease-out;
    visibility: hidden;
    opacity: 0%;
    z-index: 1;
  }
  #mobileMenuBuffer
  {
    display: block;
    position: relative;
    height: 44px
  }
}
@media only screen and (min-width: 1000px)
{
  #menuBarMobilePopout
  {
    display: none
  }
  #menuBarMobilePopoutBackground
  {
    display: none
  }
  #mobileMenuBuffer
  {
    display: none
  }
}

.opacityFull
{
  visibility: visible !important;
  opacity: 100% !important;
}

.menuItemMobileLight
{
  text-align: center;
  border-top: 1px solid lightgray
}

.menuItemMobileDark
{
  text-align: center;
  border-top: 1px solid rgb(111,111,111)
}

.firstMenuItemMobile
{
  border-top: 0px
}

.menuItemMobileLight > span, .menuItemMobileDark > span
{
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
}