body
{
  font-family: sans-serif;
}

.textLight
{
  color: black
}
.textDark
{
  color: white
}

#menuBarContainer
{
  padding: 2px;
  height: 50px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.menuBarContainerLight
{
  background: #fff;
  border-bottom: 1px solid lightgray;
}
.menuBarContainerDark
{
  background: #434343;
  border-bottom: 1px solid rgb(111,111,111);
}

.menuItem
{
  height: 100%;
  box-sizing: border-box;
  border-radius: 0px;
  border-right: 1px solid;
  border-image: linear-gradient(#8f8f8f00 15%, #8f8f8f 15%, #8f8f8f 85%, #8f8f8f00 85%) 0 100%;
}
.firstMenuItem
{
  border-left: 1px solid;
}
.menuItemValueLight
{
  box-sizing: border-box;
  height: 100%;
  position: relative;
  color: #000;
  padding: 11px 27px 11px 27px
}
.menuItemValueDark
{
  box-sizing: border-box;
  height: 100%;
  position: relative;
  color: #fff;
  padding: 11px 27px 11px 27px
}
.menuItemText
{
  display: inline-block;
  text-decoration: none
}