body
{
  font-family: sans-serif;
}

@media only screen and (min-width: 1000px)
{
  .allContent
  {
      position: relative;
      width: 80%;
      max-width: 1440px;
      min-width: 970px;
      margin: auto;
  }
}
@media only screen and (max-width: 999px)
{
  .allContent
  {
      position: relative;
      width: 100%;
      margin: auto;
      padding: 5px
  }
}

.appBackgroundLight
{
  background-color: #f1f1f1;
}
.appBackgroundDark
{
  background-color: #000;
}
.appHeading
{
  font-weight: bold
}

.textLight
{
  color: black
}
.textDark
{
  color: white
}

#menuBarContainer
{
  padding: 2px;
  height: 50px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.menuBarContainerLight
{
  background: #fff;
  border-bottom: 1px solid lightgray;
}
.menuBarContainerDark
{
  background: #434343;
  border-bottom: 1px solid rgb(111,111,111);
}

.menuItem
{
  height: 100%;
  box-sizing: border-box;
  border-radius: 0px;
  border-right: 1px solid;
  border-image: linear-gradient(#8f8f8f00 15%, #8f8f8f 15%, #8f8f8f 85%, #8f8f8f00 85%) 0 100%;
}
.firstMenuItem
{
  border-left: 1px solid;
}
.menuItemValueLight
{
  box-sizing: border-box;
  height: 100%;
  position: relative;
  color: #000;
  padding: 11px 27px 11px 27px
}
.menuItemValueDark
{
  box-sizing: border-box;
  height: 100%;
  position: relative;
  color: #fff;
  padding: 11px 27px 11px 27px
}
.menuItemText
{
  display: inline-block;
  text-decoration: none
}




.infoContainerLight
{
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #c2c2c2;
  color: #000;
  padding: 5px
}
.infoContainerDark
{
  position: relative;
  background-color: #434343;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgb(111,111,111);
  color: #fff;
  padding: 5px
}

#bioTextContainer
{
  width: 100%;
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 5px
}
@media only screen and (min-width: 1000px)
{
  #bioText
  {
    column-count: 2;
  }
}
@media only screen and (max-width: 999px)
{
  #bioText
  {
    column-count: 1;
  }
}

.firstRow
{
  border-top: 0px !important
}

.twoColumnRowLight
{
  border-top: 1px solid lightgray;
  padding: 4px;
  font-size: 12pt;
  color: #000;
  display: block;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
}
.twoColumnRowDark
{
  border-top: 1px solid rgb(111,111,111);
  padding: 4px;
  font-size: 12pt;
  color: #fff;
  display: block;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
}
.twoColumnRowCol1
{
  display: block;
}
.twoColumnRowCol2
{
  display: block;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (min-width: 1000px)
{
  #profileImageAndContactTextContainer
  {
    position: relative;
    width: 600px;
    margin: auto;
  }
}
@media only screen and (max-width: 999px)
{
  #profileImageAndContactTextContainer
  {
    position: relative;
    width: 100%
  }
}

#profileImage
{
  width: 35%;
}
#contactTable
{
  width: 65%;
  display: block;
  top: 5px;
  position: absolute;
  left: 35%;
}