<div id="menuBarContainer" class="menuBarContainerLight">
    <div class="menuItem firstMenuItem textLight">
        <a asp-controller="Page" asp-action="Home">
            <div class="menuItemValueLight">
                <span class="menuItemText">Home</span>
            </div>
        </a>
    </div>
    <div class="menuItem textLight">
        <a asp-controller="Page" asp-action="Portfolio">
            <div class="menuItemValueLight">
                <span class="menuItemText">Portfolio</span>
            </div>
        </a>
    </div>
    <div class="menuItem textLight">
        <a asp-controller="Page" asp-action="WorkAndEducation">
            <div class="menuItemValueLight">
                <span class="menuItemText">Work & Education</span>
            </div>
        </a>
    </div>
    <div class="menuItem textLight">
        <a asp-controller="Page" asp-action="Experience">
            <div class="menuItemValueLight">
                <span class="menuItemText">Experience</span>
            </div>
        </a>
    </div>
    <div class="menuItem textLight">
        <a asp-controller="Page" asp-action="About">
            <div class="menuItemValueLight">
                <span class="menuItemText">About</span>
            </div>
        </a>
    </div>
</div>